@font-face {
  font-family: 'museo_sans_cyrl300';
  src: url('museosanscyrl_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url('museosanscyrl_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}